/* Use Effect  */

/* h1{
  color: red;

}
#box{
  width: 200px;
  height: 200px;
  background-color: aqua;
} */
 




/* Props */


/* .flex{
  display: flex;
  flex-wrap: wrap;
}
.card{
  border: 1px solid grey;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.pic {
  text-align: center;
}
.pic img{
  height: 200px;
    width: 150px;
}
.price{
  padding: 10px;
  font-size: large;
} */



/* .selected{
  background-color: aqua;
} */


/* #box1{
  width: 200px;
  height: 200px;

}


#box2{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 400px;
} */




/* .card{
  width: 200px;
  height: 200px;
} */


